.container {
  display: flex;
  min-height: var(--page);
}

.overview {
  width: 300px;
  flex-shrink: 0;
  position: fixed;
  height: 100%;
  overflow: scroll;
  text-align: center;
  padding: 30px;
}

.cover {
  position: relative;
}

.cover > label {
  position: absolute;
  bottom: 0;
  right: 0;
}

.cover > label:hover {
  color: var(--blue);
}

.editing {
  margin: 4px;
}

.name {
  display: flex;
}

.name > input {
  width: 100%;
}

.editing input {
  padding: 16px;
  border: 1px solid #ddd;
  border-radius: 6px;
  font-size: 16px;
  margin: 4px;
}

.editing > form > input {
  width: calc(100% - 8px);
}

.info > h1 {
  margin: 16px 0;
}

.info > p {
  margin: 0;
  display: flex;
  display: flex;
  align-items: center;
  margin: 5px 0;
}

.info > p > svg {
  margin-right: 5px;
}

.info > p > span {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.editing button, .editbtn {
  border: 0;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  background: #efefef;
  border-radius: 50%;
  margin-bottom: 8px;
}

.editing button:hover, .editbtn:hover {
  background: #ddd;
}

.posts {
  flex-grow: 1;
}
