.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px #000;
  overflow: hidden;
  width: 400px;
}

.container > h1 {
  margin: 0 0 10px 0;
  font-size: 24px;
}

.container > p {
  margin: 0 0 8px 0;
  font-size: 18px;
  font-style: italic;
}

.links {
  display: flex;
  flex-wrap: wrap;
}

.links > a {
  width: calc(50% - 4px);
  padding: 10px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.links > a:active {
  transform: scale(0.98);
}

.links > a > svg {
  margin-right: 2px;
}

.links > a:nth-of-type(1) {
  background: goldenrod;
  margin: 0 4px 4px 0;
}
.links > a:nth-of-type(2) {
  background: orangered;
  margin: 0 0 4px 4px;
}
.links > a:nth-of-type(3) {
  background: limegreen;
  margin: 4px 4px 0 0;
}
.links > a:nth-of-type(4) {
  background: #2196f3;
  margin: 4px 0 0 4px;
}

.links > a:hover {
  color: #fff;
}
