.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px #000;
  overflow: hidden;
  width: 400px;
}

.container > h1 {
  margin: 0 0 10px 0;
  font-size: 24px;
}

.container > p {
  margin: 0;
  font-size: 18px;
}

.container a {
  text-decoration: underline;
}

.container a:hover {
  color: var(--blue);
}

.links {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.links > span {
  display: flex;
  align-items: center;
  margin-top: 10px;
}

.links > span > svg {
  margin-right: 5px;
}
