.container {
  text-align: left;
  background: #fff;
  padding: 10px;
  border-bottom: 2px solid #efefef;
}

.container > a {
  font-weight: bold;
}

.container > a:hover {
  text-decoration: underline;
}

.container > p {
  margin: 0;
}

.container > span {
  color: #999;
  font-size: 12px;
}
