.container {
  text-align: left;
  background: #fff;
  padding: 10px;
  display: flex;
  position: relative;
}

.profile {
  margin-right: 8px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}

.content > a {
  font-weight: 700;
  margin-right: 4px;
}

.content > a:hover {
  text-decoration: underline;
}

.content > p {
  margin: 0;
}

.content > span {
  color: #999;
  font-size: 12px;
}

.options {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.options > button {
  border: 0;
  background: transparent;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart:hover, .delete:hover {
  color: red;
}

.heart:active, .delete:active {
  transform: scale(0.9);
}
