.container {
  padding: 5px 20px;
}

.name {
  margin-right: 4px;
  font-weight: bold;
}

.date {
  color: #999;
  font-size: 12px;
}

.container > p {
  margin: 0;
}

.container > span {
  color: #999;
  font-size: 12px;
}
