.container {
  border-bottom: 2px solid #efefef;
  padding: 10px;
  position: relative;
}

.container > p {
  margin: 0;
}

.container > span {
  color: #999;
  font-size: 12px;
}

.arrow {
  position: absolute;
  bottom: -12px;
  left: 0;
  border-style: solid;
  border-width: 16px 16px 0 0;
  border-color: #efefef transparent transparent transparent;
}
