.container {
  width: 480px;
  height: 100%;
  display: flex;
  flex-direction: column;
  margin: 0 0 0 300px;
}

.posts {
  height: var(--page);
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.posts > div:last-of-type {
  border-bottom: 0;
}
