.title {
  font-size: 24px;
  padding: 8px 0 0 0;
  width: fit-content;
  margin: 0 auto;
  border-bottom: 2px solid #000;
}

.comments {
  max-height: 300px;
  overflow: auto;
}

.comments > p {
  text-align: center;
  font-style: italic;
}

.form {
  padding: 20px;
}

.form > form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form > form > button {
  margin-top: 8px;
}
