.outer {
  cursor: pointer;
}

.container {
  border-bottom: 2px solid #efefef;
  padding: 10px;
  position: relative;
  background: #fff;
  text-align: left;
  width: 400px;
  display: flex;
  align-items: flex-start;
}

.container:hover {
  background: #fdfdfd;
}

.profile {
  margin-right: 8px;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;
}

.user {
  margin: 0;
}

.user > a {
  font-weight: 700;
  margin-right: 4px;
}

.user > a:hover {
  text-decoration: underline;
}

.user > span {
  font-size: 12px;
  color: #999;
}

.text {
  margin: 2px 0;
}

.options {
  display: flex;
  align-items: center;
  position: absolute;
  bottom: 0;
  right: 0;
}

.options > button {
  border: 0;
  background: transparent;
  width: 32px;
  height: 32px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart:hover, .delete:hover {
  color: red;
}

.heart:active, .delete:active {
  transform: scale(0.9);
}
