.container {
  width: 400px;
  padding: 8px;
}

.user {
  display: flex;
  align-items: center;
  background: #efefef;
  margin: 8px;
  height: 48px;
  border-radius: 8px;
  overflow: hidden;
}

.user > a {
  margin-right: 8px;
}

.user span {
  margin: 0 8px;
  font-size: 12px;
  color: #999;
}

.user > button {
  margin-right: 8px;
  background: #efefef;
  border: 2px solid #999;
  padding: 10px 20px;
  border-radius: 8px;
}

.user > button:hover {
  background: #ddd;
}

.user > button:active {
  background: #efefef;
}
