.container {
  background: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 5px #000;
  overflow: hidden;
  width: 400px;
}

.container > h1 {
  font-size: 24px;
  margin: 0;
}

.check {
  margin: 16px 0;
}

.info > p {
  color: #555;
  margin: 0;
  font-size: 12px;
  text-align: center;
}

.info span {
  text-decoration: underline;
  cursor: pointer;
}

.info span:hover {
  color: var(--blue);
}
