* {
  box-sizing: border-box;
  word-break: break-word;
}

html, body {
  padding: 0;
  margin: 0;
  font-family: 'Raleway', sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

button, label {
  cursor: pointer;
}

textarea {
  resize: none;
}

h1 {
  font-weight: 900;
}

.flexfill {
  flex-grow: 1;
}

.bluebutton {
  border: 0;
  background: var(--blue);
  color: #fff;
  padding: 10px 20px;
  border-radius: 20px;
}

.bluebutton:hover {
  background: var(--darkblue);
}

.bluebutton:active {
  transform: scale(0.98);
}

:root {
  --blue: #3aaaf2;
  --darkblue: #0f97eb;
  --header: 80px;
  --page: calc(100vh - var(--header))
}
